<div class="show-container">
  <% if @plot.photo.present? %>
     <div class="plot-cover" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @plot.photo %>')">
        <h1 id="welcome-plot-name">Welcome to <%= @plot.name %></h1>
          <% if current_user == @plot.user  %>
            <div class="edit-plot-show">
              <%= link_to "Edit", edit_plot_path(@plot) %>
            </div>
            <div class="delete-plot-show">
              <%= link_to "Delete", plot_path(@plot),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </div>
          <% end %>
    </div>
  <% else %>
    <div class="plot-cover" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'default-plot-picture.jpg' %>)">
      <h1 id="welcome-plot-name">Welcome to <%= @plot.name %></h1>
        <% if current_user == @plot.user  %>
          <div class="edit-plot-show">
            <%= link_to "Edit", edit_plot_path(@plot) %>
          </div>
          <div class="delete-plot-show">
            <%= link_to "Delete", plot_path(@plot),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
    </div>
  <% end %>

  <div class="plot-details">
      <div id="show-flexbox" class="flexbox">
        <div class="left-elements">
          <div class="plot-location">
            <h3> A bit more about this plot ...</h3>
            <div class="owner-details">
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> This plot is located at <%= @plot.location %></p>
               <p><i class="fa fa-paw" aria-hidden="true"></i> It can accomodate <%= @plot.capacity %> animals of any kind </p>
               <p><i class="fa fa-user" aria-hidden="true"></i> His owner is <%= @plot.user.first_name %> <%= @plot.user.last_name %></p>
              <div class="avatar-show"><% if @plot.user.photo %>
                              <%= image_tag "avatar_#{@plot.user.photo}.jpg", class:"avatar-show"%>
                            <% else %>
                              <%= image_tag "default-user.jpg", class:"avatar-show" %>
                            <% end %></div>
            </div>
            <div class="plot-info">
              <div class="details">
                <p><%= @plot.description %></p>
              </div>
            </div>
          </div>
          <div class="plot-description">
            <h3>Where can i find the plot?</h3>
            <div id="map" style="height: 250px"
              data-markers="<%= [{lat: @plot.latitude, lng: @plot.longitude}].to_json %>"
              class="map-show">
            </div>
          </div>
        </div>
        <div class="right-elements">
          <div class="plot-book">
            <h3>Book it now!</h3>
              <div id="total_price" data-dailyprice="<%= @plot.daily_price %>"> Total price : 150
               </div>
            <div class="linked_pickers">
              <div class="form">
                <%= render 'plots/flatpickr', plot: @plot, booking: @booking %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
