<div class="user-details">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-push-8">
        <div class="user-info text-center">
          <%if @user.photo %>
            <div class="user-picture" style="background-image: url('<%= image_path "avatar_#{@user.photo}.jpg" %>')"> </div>
          <% else %>
            <div class="user-picture" style="background-image: url('<%= image_path "default-user.jpg" %>')"> </div>
          <% end %>
          <p><%= @user.first_name %> <%= @user.last_name %></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-md-pull-4">
        <div class="tabs">
          <%= link_to "My plots #{@user.plots.count}", "#plots-list", class: "tab active" %>
          <%= link_to "My bookings", "#bookings-list", class: "tab" %>
          <%= link_to "Demands", "#demands-list", class: "tab" %>
        </div>

        <div id="plots-list" class="tabcontent">
          <p>test plots</p>
          <div class="plots-header">
            <h4>My plots</h4>
            <% if @user == current_user %>
              <%= link_to "Add a plot", new_plot_path, class: "btn btn-primary" %>
            <% end %>
          </div>
           <ul>
            <% if @user.plots.first %>
              <% @user.plots.each do |plot| %>
                <%= render 'shared/list-item', item: plot %>
              <% end %>
            <% else %>
              <p class="no-plot">No plots for the sheep to graze :(</p>
            <% end %>
             </ul>
          </div>
        </div>

        <div id="bookings-list" class="tabcontent hidden">
          <h3>My bookings</h3>
          <p>A lot of bookings</p>
        </div>

        <div id="demands-list" class="tabcontent hidden">
          <h3>My demands</h3>
          <p>A lot of demands</p>
        </div>
        <script>
          // sélectionner les tabs
          const tabs = document.querySelectorAll(".tab");
          // boucler sur les tabs
          tabs.forEach((tab) => {
            // poser un micro sur chaque tab (click)
            tab.addEventListener("click", (event) => {
              event.preventDefault();
              // supprimer la classe active des autres tabs
              tabs.forEach((item) => {
                item.classList.remove("active");
              });
              // ajouter la classe active au currentTarget
              event.currentTarget.classList.add("active");
              // ajouter la classe hidden aux autres div.tabcontent
              document.querySelectorAll('.tabcontent').forEach((div) => {
                div.classList.add("hidden");
              });
              // récupérer le href du currentTarget
              const id = event.currentTarget.href.split('#')[1];
              // recupérer la div correspondante
              const targetDiv = document.getElementById(id);
              // lui enlever la classe hidden
              targetDiv.classList.remove('hidden');
            })
          });
        </script>
      <div>
    </div>
  </div>
</div>
