<div class="user-details">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-md-4 col-md-push-8">
        <div class="user-info text-center">
          <%if @user.photo %>
            <div class="user-picture" style="background-image: url('<%= image_path "avatar_#{@user.photo}.jpg" %>')">
            </div>
          <% else %>
            <div class="user-picture" style="background-image: url('<%= image_path "default-user.jpg" %>')">
            </div>
          <% end %>
          <p><%= @user.first_name %> <%= @user.last_name %></p>
        </div>
      </div>

      <div class="col-xs-12 col-md-8 col-md-pull-4">
        <div class="tabs">
          <%= link_to "My bookings (#{@user.bookings.count})", "#bookings-list", class: "tab active" %>
          <% if @user.plots.first %>
            <%= link_to "My plots (#{@user.plots.count})", "#plots-list", class: "tab" %>
            <%= link_to "My requests (#{@user.bookings_as_owner.count{ |x| x.status= "pending" }} pending)", "#requests-list", class: "tab" %>
          <% end %>
        </div>

        <div id="bookings-list" class="tabcontent">
          <div class="show-header">
            <h4>My bookings</h4>
          </div>
          <ul>
            <% if @user.bookings.first %>
              <% @user.bookings.each do |booking| %>
                <%= render 'shared/list-bookings', booking: booking %>
                <% if booking.review.nil? %>
                  <%= render 'shared/review', booking: booking, review: @review %>

                  <!-- AJOUTER LA REVIEW SI DEJA REMPLIE -->
                  <% else %>
                    <p>My review: <% booking.review.rating.times do %><i class="fa fa-star" aria-hidden="true"></i>
                      <% end %> <em>"<%= booking.review.content %>"</em></p>

                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div id="plots-list" class="tabcontent hidden">
          <div class="show-header">
            <h4>My plots</h4>
            <% if @user == current_user %>
              <%= link_to "Add a plot", new_plot_path, class: "btn btn-primary" %>
            <% end %>
          </div>
          <ul>
          <% if @user.plots.first %>
            <% @user.plots.each do |plot| %>
              <%= render 'shared/list-item', item: plot %>
            <% end %>
          <% else %>
            <p class="no-plot">No plots for the sheep to graze :(</p>
          <% end %>
          </ul>
        </div>

        <div id="requests-list" class="tabcontent hidden">
          <div class="show-header">
            <h4>My requests</h4>
          </div>
          <ul>
            <% if @user.bookings_as_owner.first %>
              <% @user.bookings_as_owner.each do |booking| %>
                <%= render 'shared/list-bookings', booking: booking %>
              <% end %>
            <% else %>
              <p class="no-plot">No booking yet!</p>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
