<li class="listed-bookings">
  <%= link_to plot_path(booking.plot) do %>
  <div class="booking-picture text-center">
    <% if booking.plot.photo.present? %>
      <div class="item-picture" style="background-image: url('<%= cl_image_path booking.plot.photo %>')"></div>
    <% else %>
      <div class="item-picture" style="background-image: url('<%= image_path "default-plot-picture-thumbnail.jpg" %>')"></div>
    <% end %>
      <p><%= booking.plot.name %></p>
  </div>
  <% end %>

  <div class="booking-details">
    <h3><%= booking.start_date.strftime("%b %d, %Y")%> to <%= booking.end_date.strftime("%b %d, %Y")%></h3>
    <p>Owner: <%= booking.plot.user.first_name %> <%= booking.plot.user.last_name %></p>
    <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= booking.plot.location %></p>
  </div>

  <div class="booking-price">
    <p id="booking-status"><%= booking.status.capitalize %></p>
    <p>Price: <%= booking.full_price %>€</p>
  </div>
</li>
