<li class="listed-bookings">
  <% if booking.plot.photo.present? %>
    <div class="item-picture" style="background-image: url('<%= cl_image_path booking.plot.photo %>')"></div>
  <% else %>
    <div class="item-picture" style="background-image: url('<%= image_path "default-plot-picture-thumbnail.jpg" %>')"></div>
  <% end %>

  <div class="booking-details">
    <h3><%= booking.plot.name %></h3>
    <p><%= booking.plot.location %></p>
    <p>
      <i class="fa fa-paw" aria-hidden="true"></i> <%= booking.plot.capacity %>
    </p>
  </div>

  <div class="booking-price">
    <p id="price-show"><%= booking.plot.daily_price %> € / day</p>
    <p id="booking-status">Status: <%= booking.status %></p>
  </div>

  <% if booking.plot.user == current_user %>
    <div class="accepted">
      <%= link_to "Accept", accept_booking_path(booking), method: :patch, class: "btn" %>
    </div>
    <div class="declined">
      <%= link_to "Decline", decline_booking_path(booking), method: :patch, class: "btn" %>
    </div>
  <% end %>
</li>
