<li class="listed-bookings">
  <% if booking.plot.photo.present? %>
    <div class="item-picture" style="background-image: url('<%= cl_image_path booking.plot.photo %>')"></div>
  <% else %>
    <div class="item-picture" style="background-image: url('<%= image_path "default-plot-picture-thumbnail.jpg" %>')"></div>
  <% end %>

  <div class="item-details">
    <h3>booking.plot.name</h3>
    <p><%= booking.plot.location %></p>
    <p>
      <i class="fa fa-paw" aria-hidden="true"></i> <%= booking.plot.capacity %>
    </p>
  </div>
  <div class="item-price">
    <p><%= booking.plot.daily_price %> €</p>
    <p>per day</p>
  </div>
  <%= link_to "Accept Booking", accept_booking_path, class: "btn btn-primary" %>
  <%= link_to "Decline Booking", decline_booking_path, class: "btn btn-primary" %>
</li>
